body {padding-top: 80px;}
.related-list { margin-left: 0; }
.form-buttons { margin-top: 40px; }
body {padding-top: 80px;}
.radio.inline { white-space: nowrap; }
.form-field { margin: 20px 0 20px 0;}
.date_type { margin: -20px 0 20px 0;}
